VITE_SUPABASE_URL=https://nbpdsqnvninnaoitnvhf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5icGRzcW52bmlubmFvaXRudmhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQzNjEwMTksImV4cCI6MjA5OTkzNzAxOX0.stbNdMChYmsCB0VnuwvzFcjxSNcgQE3FKQfAF0VUL9c
VITE_ADMIN_EMAIL=sailendrakondapalli@gmail.com
